<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NodeJS</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }

    .divImg {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 90vh;
    }

    .divImg img {
      height: 100%;
      width: auto;
    }

  </style>
</head>

<body>
  <div class="divImg">
    <img src="https://www.freecodecamp.org/news/content/images/2022/11/What-is.png" alt="" />
  </div>
</body>

</html>
